$white: white;
$black: #0a0a0a;
$light-green: #55C882;
$dark-green: #00b262;
$heading-color: #151d41;
$paragraph-color: #6e7c90;


$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.6rem;
$s-size: 1.2rem;

html{
    font-size: 62.5%;
}

body{
    background: $white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size;
    padding: 0;
    margin: 0;
}

button, .btn{
    cursor: pointer;
}

button:disabled{
    cursor: default;
}