@import "./_base";

/* navbar */
.ui .menu {
  font-size: $l-size;
}

.active {
  color: $heading-color;
}

.ui .menu .item {
  color: $paragraph-color;
}

/*home*/
#home {
  padding: 0;
  margin: 0;
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-content: center;
}

#home-left .hrsection{
  width:10% ;
  border: 1.5px solid #55c882 ;
  text-align: left;
  }

#home-left {
  padding: $xl-size * 2 0 0 $xl-size * 1.7;
  color: $paragraph-color;
  width: 55%;
  font-size: $m-size * 1.5;
}

#home h1 {
  font-size: $xl-size * 1.2;
  color: $heading-color;
}

#home img {
  max-width: 100%;
  max-height: 100%;
  padding: 0;
}

#home .btn {
  margin: 0;
  display: inline-block;
  width: $xl-size * 4;
  height: 60px;
  background: $light-green;
  margin: 10px;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #f1f1f1;
  overflow: hidden;
  position: relative;
}

#home .btn:hover {
  background: $dark-green;
  transform: scale(1.1);
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

#home .btn p {
  padding: $s-size 0 0 $s-size;
}

#content {
  min-height: 100px;
}
.ui.grid {
  padding: 0 !important;
}
.pushable.segment {
  margin: 0 !important;
}

/*good causes*/

#good{
  padding: 0;
  margin: 0;
  height: 100vh;
  background: #f7fafe;
}

.good-heading{
  padding-top: $xl-size;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#good .tophead {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: 3px;
  color: #55C882;
  margin: 0px 0px 15px 0px;
  padding: 0px 0px 0px 0px;
}
#good .hh{
 display: block;
}

#good h1 {
  font-size: $xl-size * 1.1;
  color: $heading-color;
}

#good p {
  color: $paragraph-color;
}

.cards{
  padding: $xl-size $l-size $m-size $l-size;
}

.card{
  cursor: pointer;
}

.ui.cards>.card{
  box-shadow: 0 5px 15px -5px #00000070;
}

.card:hover{
  transform: scale(1.05);
}
.card .good-heading img{
  width: $xl-size*3;
  height: $xl-size*3;
  padding-top: $l-size;
}
.card .good-heading h1{
  margin: $s-size 0 0 0;

}
.card .good-heading p{
  margin: $s-size $xl-size $xl-size $xl-size;
  font-size: $m-size;
  text-align: center;
}

.card .good-heading .fas  {
  width: $xl-size*3;
  height: $xl-size*3;
  padding-top: $l-size;
}
/*goog causes ends */

/* about */

.ui .menu .item{
 color: #6e7c90;
}
.heading{
  padding: $xl-size*1.5 0 0 $xl-size * 1.7;
}
 .hrsection{
   width:4% ;
   border: 1.5px solid #55c882 ;
   text-align: left;
   }
  .tophead {
   font-size: 14px;
   font-weight: 700;
   text-transform: uppercase;
   font-style: normal;
   letter-spacing: 3px;
   color: #55C882;
   margin: 0px 0px 15px 0px;
   padding: 0px 0px 0px 0px;
}
.hh{
  display: block;
  /*position: relative */
}
#about .sub-heading {
   font-size: $m-size*1.3;
   font-weight: 500;
   color: #ff8b3c;
   margin: 0px 0px 15px 0px;
   padding: 0px 0px 0px 0px;
   }
  #about {
    padding: 0;
    margin: 0;
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  
  #about-left {
    padding: $s-size 0 0 $xl-size * 1.7;
    color: $paragraph-color;
    width: 75%;
    font-size: $m-size*1.3;
  }
  
  #about h1 {
    font-size: $l-size*1.5;
    color: $heading-color;
  }
  
  #about-right img{
    max-width: 100%;
    max-height: 100%;
    padding: 0 0 0 $m-size;
    margin: 0 0 0 $xl-size;
  }
  
  #about .btn {
    margin: 0;
    display: inline-block;
    width: $xl-size * 4;
    height: 60px;
    background: $light-green;
    margin: 10px;
    box-shadow: 0 5px 15px -5px #00000070;
    color: #f1f1f1;
    overflow: hidden;
    position: relative;
  }
  
  #about .btn:hover {
    background: $dark-green;
    transform: scale(1.1);
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
  }
  
  #about .btn p {
    padding: $s-size 0 0 $s-size;
  }
