<div class="heading">
  <div class="tophead hh">ABOUT US</div>
<div class="hrsection"></div>
</div>
<div id="about">
   <div id="home">
   <div id="about-left">
     <h1>A Dream In Their Mind Is Our Mission </h1>
         <p class="sub-heading" >Collaborate with team members to rally support</p>
         <p>The world calls for, and expects from us, simplicity of life, the spirit of 
            prayer, charity towards all, especially towards the lowly and the poor.When someone does
            something that they know that they shouldn’t do this again in you house.
            They really have a choice. Maybe what I mean to say is did they really have a chance. 
            Harness the power of social media to spread.
          </p>
         <a class="btn">
            <p>Learn more</p>
         </a>
     </div>
     <div id="about-right">
         <img src="{{ `img/img2.jpg` | absURL }}" alt=""> 
     </div>
</div>
                
                 <!-- <h2 class="main-heading">A Dream In Their Mind Is Our Mission </h2>
                  <div class="sub-heading" >Collaborate with team members to rally support</div>
                  <!--<div class="main-heading"> </div>-->
                  
                 <!-- <div class="desc">
                      <!--<p>The world calls for, and expects from us, simplicity of life, the spirit of  </p>
                      <p>prayer, charity towards all, especially towards the lowly and the</p>  <p>poor.When someone does something that they know that they</p> <p>shouldn’t do this again in you house.</p>
                    <p>They really have a choice. Maybe what I mean to say is did they really</p> <p>have a chance. Harness the power of social media to spread.</p>-->
                  <!--  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur maiores, aut est id voluptate quis nam repellendus voluptatibus eius labore, consequuntur eveniet, tempora ut inventore maxime incidunt debitis itaque excepturi.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore ea porro libero id maiores ducimus laborum reprehenderit, </p>
                  </div>
                  <!--<button class="ui inverted green button">Green</button>-->
                 <!-- <a class="btn"><p>Learn more</p></a>
                </div>
              <div class="column eight wide"><img src="{{ `img/img1.png` | absURL }}" alt=""> </div>
          </div> -->
      </div>
    </div>