<div id="good">
    <div class= "good-heading">
    <p class="tophead hh">Good Causes</p>
    <p class='hrsection'></p>
    <h1>Help People Through Us</h1>
    </div>

    <div class="ui three stackable cards">
            <div class="card">
            <div class="good-heading">
              <img src="{{ `img/gift.svg` | absURL }}" alt="">
              <h1>Surprise Box</h1>
              <p>As flood water recedes from most parts of Bangladesh and tough challenges such as scarcity.</p>
            </div>  
            </div>
            <div class="card">
            <div class="good-heading">
                <img src="{{ `img/health.svg` | absURL }}" alt="">
                <h1>Helping Hand</h1>
                <p>The recipients will be able to meet immediate needs such as purchasing immediate food.</p>
            </div>
            </div>
            <div class="card">
            <div class="good-heading">
                <img src="{{ `img/pharmacy.svg` | absURL }}" alt="">
                <h1>Aid For Children </h1>
                <p>Post-flood rehabilitation is no less challenging than during-flood operations us.</p>
            </div>
            </div>
    </div>



</div>