
<div class="ui relaxed grid container">
  <div class="computer only row">
    <div class="column">
      <div class="ui secondary pointing menu">
        <a class="item">Menu Item A</a>
        <a class="item">Menu Item B</a>
        <a class="item">Menu Item C</a>
        <a class="item">Menu Item D</a>
      </div>
    </div>
  </div>

  <div class="tablet mobile only row">
    <div class="column">
      <div class="ui menu">
        <a id="mobile_item" class="item"><i class="align justify icon"></i></a>
      </div>
    </div>
  </div>
</div>
