{{/*  Home Section Partial  */}}
<div id="home">
    <div id="home-left">
        <p class="tophead hh">Get started today</p>
        <p class='hrsection'></p>
        <h1>Help The People When They Need</h1>
        <p>The world calls for, and expects from us, simplicity of life, the spirit of prayer, charity towards all,
            especially towards the lowly and the poor.</p>
        <a class="btn">
            <p>Learn more</p>
        </a>
    </div>
    <div>
        <img src="{{ `img/img1.png` | absURL }}" alt="">
    </div>
</div>